# NWChem binaries
*.movecs*
*.db*
*.b*
*.zmat*
*.p
*.c

# MD / trajectories
*.dcd
*.xtc
*.trr
*.nc
*.mdcrd
*.rst7
*.gro
*.cpt

# Logs
#*.log
#*.err
#*.out

# Scratch dirs
output/
outputs/
scratch/
tmp/
test/

ANTECHAMBER*.*
NEWPDB*.PDB
*.INF

readme_2.md